.ProjectContainer{
    background-color: white;
    color:#262626;
    border-bottom:solid 3px #bfbfbf;
    margin:10px auto;
    padding:20px;
    flex-wrap: wrap;
    display: flex;
}

.ProjectImg{
    flex: 25%;
    width: 25%;
    height: 25%;
    margin:auto;
}

.ProjectTextContainer{
    flex: 75%;
    margin:auto;
}

.ProjectText{
    margin-left:20px
}

a{
    color:#262626;
}