.NavBar {
    background-color:#3f3f3f;
    text-align:center;
    overflow:hidden;
    padding:5px 10px;
  }


.NavItem{
    background-color: #3f3f3f;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 1px;
    margin: 0;
    min-width:100px;
    text-align:center;
    display:inline-block
}

.NavItem:hover{
    background-color: #7a0b12;
}

.NavLink{
    font-weight: bold;
    color:#f5f5f5;
}

.NavLink:hover{
    color: #262626;
}